# Bla

/Exercises-complete/1-complete.html
/Exercises-complete/2-complete-id-class.html
/Exercises-complete/3-complete-bootstrap.html
/Exercises-complete/cms-voorbeeld.html
/Exercises-complete/complete.css