# Complete excercises that will be released only during the course

/Exercises-complete/1-complete.html
/Exercises-complete/2-complete-id-class.html
/Exercises-complete/3-complete-bootstrap.html
/Exercises-complete/cms-voorbeeld.html
/Exercises-complete/complete.css

# Notes
notes-to-self.md